:root {

  // main
  --color-bg: #fff;
  --color-accent: #3616b8;


  // text
  --color-text-dark: #000;
  --color-text-blue: #0F1442;
  --color-text-light-blue: #6F728E;
  --color-text-gray: #A1A3B2;
  --color-text-wite: #fff;

  // secondary
  --color-secondary-light-gray: #c4c4c4;
  --color-secondary-gray: #A1A3B2;
  --color-secondary-light-blue: #6F728E;
  --color-secondary-light-dark: #000;

  // system
  --color-system-err: #FF3B30;
  --color-system-info: #007AFF;


}
