:root {
  --font-family-primary: 'Roboto', sans-serif;

  // line heights
  --line-height-xxs: 12px;
  --line-height-xs: 13px;
  --line-height-s: 15px;
  --line-height-m: 16px;
  --line-height-l: 18px;
  --line-height-xl: 21px;
  --line-height-xxl: 29px;
  --line-height-xxxl: 34px;
  --line-height-xxxxl: 41px;

  // font sizes
  --font-size-xxs: 10px;
  --font-size-xs: 11px;
  --font-size-s: 12px;
  --font-size-m: 13px;
  --font-size-l: 15px;
  --font-size-xl: 16px;
  --font-size-xxl: 17px;
  --font-size-xxxl: 26px;
  --font-size-xxxxl: 32px;

  // font weights
  --font-weight-regular: 500;
  --font-weight-bold: 700;
}