.userSelect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.selectedItem{
  position: absolute;
  top: 10px;
  right: 10px;
}

.postContainer{
  padding: 15px;
  background-color: var(--color-bg-block);
  border-radius: var(--border-radius-m);
}