.navigateContainer {
  position: fixed;
  bottom: 0;
  padding: 8px 30px;
  background-color: var(--color-bg);
  width: 100%;


  .itemsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .iconWrapper {
      svg {
        fill: var(--color-accent);
        color: var(--color-secondary-gray);
        fill-opacity: 0;
      }

      :hover {
        color: var(--color-accent);
        svg{
          transition: 0.1s;
          scale: 1.1;
        }
      }
    }

    .active {
      li svg {
        color: var(--color-accent);
        fill-opacity: 1;
      }
    }
  }

  @media (min-width: 1024px) {
    display: none;
  }
}