.phoneHeaderWrapper {
  height: 60px;
  padding-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .arrow {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerText {
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    width: 100%;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}