.likeWrapper {
cursor: pointer;
  &[data-islike = 'true'] {
    svg {
      fill-opacity: 1;
      fill: var(--color-accent);
      color: var(--color-accent);
    }
  }

  svg {
    fill-opacity: 0;
    color: var(--color-secondary-gray);
  }

  @media (min-width: 1024px) {
    width: 26px;
    height: 26px;
    svg {
      width: 26px;
      height: 26px;
    }
  }

  &:hover{
    scale: 1.1;
    transition: 0.1s;
  }
  &:active{
    scale: 0.9;
    transition: 0.1s;
  }
}