.locationInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin-block: 16px;
}

.mapContainer {
  margin-top: 16px;
  width: 100%;
  height: 320px;
}

.addMediaBlock{
  margin-block: 16px 24px;
}

.checkBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonNext {
  margin-top: 24px;
}
