.locationInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin-block: 16px;
}

.mapContainer {
  margin-top: 16px;
  width: 100%;
  height: 320px;
}

.mapMediaContainer {
  cursor: pointer;
  margin-block: 16px 24px;
  padding: 15px;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-image: url("../../../assets/images/background/locationPlaceholder.png");
  background-size: 100% 100%;
  background-color: #f3f9ff;
  border-radius: var(--border-radius-m);

  .image {
    color: var(--color-secondary-gray);
  }

  .textImage {
    text-align: center;
    color: var(--color-secondary-gray);
  }
}

.checkBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonNext {
  margin-top: 24px;
}
