.candlesContainer {
  padding: var(--padding);
  padding-bottom: var(--padding-m);
  gap: var(--padding);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 420px;
  grid-template-rows: 103px 1fr;
  grid-template-areas: 'profiles candleHeade'
'profiles market';

  .candlesHeaderWrapper {
    grid-area: candleHeade;
    grid-column: 2;
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    z-index: 1;

    .contentWrapper {

      .buttonsWithSignature {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px 55px;
        gap: 8px;

        .item1 {
          grid-column: 1;
        }

        .item2 {
          grid-column: 2;
        }

        .item3 {
          grid-column: 1 / -1;
        }

        .inputWrapper {
          padding: 0;
        }

        a.active {
          color: var(--color-bg);

          & div {
            background-color: var(--color-secondary-gray);


          }
        }

      }
    }

    .textHelper {
      display: none;
      text-align: center;
      font-size: 17px;
      font-weight: 700;
      font-family: Montserrat, sans-serif;
      padding-block: 20px 12px;

      /* @media (min-width: 1024px) {
         display: none;
       }*/
    }

    .textAreaWrapper {
      display: none;
    }

    .searchBlock {
      width: 100%;
      background-color: var(--bg-color);

      /*@media (min-width: 1024px) {
        display: none;
      }*/
    }
  }

 .profilesGrid{
   grid-area: profiles;
   grid-column: 1;
 }


  .blurMode {

    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: calc(100% - 56px);
    background-color: rgba(0, 0, 0, 0.5);


    .marketWrapper {

      position: fixed;
      right: 0;
      top: 0;
      height: 100%;

    }
  }

  .marketWrapperForWeb {
    grid-area: market;
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    overflow-y: auto;
    width: 100%;
    z-index: 1;

    /*@media (max-width: 1024px) {
      display: none;
    }*/
  }


  /*@media (min-width: 700px) {
    padding-inline: var(--padding-inline);
  }*/

  /*@media (min-width: 1024px) {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 103px 1fr;
    gap: 10px;

    .candlesHeaderWrapper {
      grid-column: 2;
      grid-row: 1;
    }
    .profilesWrapper {
      grid-column: 1;
      grid-row: 1/-1;
    }

    .marketWrapperForWeb {
      grid-column: 2;
      grid-row: 2;
    }
  }*/
}