.titleWrapper {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-m);

  font-family: Montserrat, sans-serif;
  font-size: 19px;
  line-height: 23px;


}

.link {
  text-decoration: none;
  color: var(--secondary-color);
}