.profilesContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;




  @media (min-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

  }
}