.profileContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  position: relative;
  gap: 24px;
  overflow: hidden;

  .plaquesWrapper{
    position: absolute;
    left: 0;
    top: 100px;

    svg{
      position: absolute;
      left: 38px;
      top: 48px
    }
  }

  .arrowBack{
    position: absolute;
    top: 20px;
    left: 20px;
  }
}