.materialsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  overflow-x: auto;
  padding-right: var(--padding);
  padding-bottom: 10px;

  .materialWrapper {
    position: relative;
    min-width: 240px;
    height: 180px;
    border-radius: var(--padding);
    border: 2px solid var(--color-secondary-light-blue);
    overflow: hidden;
    background-color: var(--color-bg);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      transition: 0.2s;
      width: 100%;
      height: 100%;
      object-fit: cover;

    }

    .info {

      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 48px 16px 16px 20px;
      background: linear-gradient(180deg, #fff0, #fff 63%);

      .coast {
        transition: 0.2s;
        color: var(--color-text-light-blue);
      }
      .materialTitle{
        transition: 0.2s;
      }

      .titleBlur {
        color: var(--color-text-light-gray);
      }
    }
    .activeInfo{
      .coast, .materialTitle{
        color: var(--color-accent);

      }
    }


    &:hover:not([data-disabled = 'true']) {
      .image {
        width: 200%;
        height: 200%;
      }
      .coast, .materialTitle{
        scale: 1.05;
      }
    }

  }

  .activeWrapper{
    border-color: var(--color-accent);
  }
}

.selectedItem{
  composes: selectedItem from '../../../app/styles/templates.module.scss';
}