.profilesPageContainer {
  padding-inline: var(--padding-inline-m);
  background-color: var(--color-bg);
  overflow-y: auto;
  justify-items: center;
  width: 100%;
  height: calc(100% - 56px);
  gap: 10px;

  .headerWrapper {
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    padding-bottom: 1px;
    z-index: 1;

    .textAreaWrapper {
      position: sticky;
      z-index: 1;
      top: 0;
      padding-block: 24px;
      background-color: var(--color-bg);
    }
  }

  @media (min-width: 700px) {
    padding-inline: var(--padding-inline);
  }
  @media (max-width: 1024px) {
    position: fixed;
    top: 0;
  }
  @media (min-width: 1024px) {
    height: 100%;
  }
}