.profilesPageContainer {
  position: relative;
  height: 100% ;
  width: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: var(--padding);
  padding-bottom: var(--padding-m);

  .headerWrapper {
    width: 100%;
    position: sticky;
    top: 0;
    padding-bottom: 1px;
    z-index: 1;

    .searchBlock {
      display: grid;
      grid-template-columns: 1fr 350px;
      gap: var(--padding-m);
      position: sticky;
      z-index: 1;
      top: 0;
      padding: var(--padding);

      .tabSwitcher {
      }

      .searchInput {
      }
    }

    background: linear-gradient(0deg, transparent, var(--color-bg) 20%);

  }

  @media (min-width: 700px) {
    padding-inline: var(--padding-inline);
  }
  @media (max-width: 1024px) {
    position: fixed;
    top: 0;
  }
  @media (min-width: 1024px) {
    height: 100%;
  }
}