.label{
  font-family: Montserrat, sans-serif;
  color: var(--color-text-light-blue);
  padding-bottom: 8px;
}
.root {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-secondary-gray);
  border-radius: var(--border-radius-m);
  width: 100%;
  overflow: hidden;

  .input {
    width: 100%;
    height: 40px;
    padding: 16px;
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size-xxl);

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none; /* Убирает стрелки в Chrome, Safari */
      margin: 0; /* Убирает отступы */
    }
    -moz-appearance: textfield; /* Убирает стрелки в Firefox */

  }

  .searchSection {
    width: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary-gray);

    &::after{
      position: absolute;
      left: 0;
      content: '';
      width: 1px;
      height: 35px;
      background-color: var(--color-secondary-gray);
      opacity: 0.3;
    }
  }
}
.container{
  width: 100%;
}