.profileCardContainer {
  margin: 5px;
  position: relative;
  max-height: 240px;
  min-height: 180px;
  width: 100%;
  display: grid;
  grid-template-columns: 180px 1fr 60px;
  align-items: center;
  border-radius: var(--border-radius-m);
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);

  .profileCardImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    max-width: 180px;
    height: 180px;
    width: 180px;
    overflow: hidden;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @media (max-width: 1200px) {
      min-width: 120px;
      max-width: 120px;
      height: 120px;
      width: 120px;
    }
  }

  .profileCardBody {
    padding-block: 24px 16px;
    padding-left: var(--padding);
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .namesWrapper {
      max-width: 100%;
      overflow: hidden;

      .nameWrapper {
        max-height: 58px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        position: relative;

        .name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }

      .nameEngWrapper {
        max-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        position: relative;
        .nameEng {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
      }
    }

    .descriptionWrapper {
      max-height: 20px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      position: relative;

      .spansWrapper {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        color: var(--color-text-gray);


        .years {
          color: var(--color-text-dark);
        }

        .age {
          color: var(--color-text-light-gray);
        }

        .country {
          color: var(--color-text-gray);
        }
      }
    }
  }

  .svgWrapper {
    padding: 10px;
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .correcter {
      color: var(--color-secondary-gray);

      &:hover {
        scale: 1.1;
        transition: 0.1s;
      }

      &:active {
        scale: 0.9;
        transition: 0.1s;
      }
    }
  }

  &:hover {
    scale: 1.01;
    transition: 0.1s;
    background-color: rgba(196, 196, 196, 0.5);
  }

  @media (max-width: 1200px) {
    grid-template-columns: 120px 1fr 60px;
    min-height: 120px;
  }
}

.activeContainer {
  border: 1px solid var(--color-accent);
}

.selectedIcon {
  composes: selectedItem from '../../app/styles/templates.module.scss';
}