.profileCardContainer {
  max-height: 240px;
  min-height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-m);
  overflow: hidden;
  cursor: pointer;

  .profileCardImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    max-width: 180px;
    height: 180px;
    width: 180px;
    overflow: hidden;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .profileCardBody {
    padding-left: var(--padding);
    width: calc(100% - 240px);
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .namesWrapper {
      max-width: 100%;
      overflow: hidden;

      .nameWrapper {
        max-height: 58px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        position: relative;

        .name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }

      .nameEngWrapper {
        .nameEng {
          color: var(--color-text-gray);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .descriptionWrapper{
      max-width: 100%;
      overflow: hidden;

      .spansWrapper{
        color: var(--color-text-gray);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .years{
          color: var(--color-text-dark);
        }
        .age{
          color: var(--color-text-light-gray);
        }
        .country{
          color: var(--color-text-gray);
        }
      }
    }
  }

  .svgWrapper {
    padding: 10px;
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .correcter {
      color: var(--color-secondary-gray);

      &:hover{
        scale: 1.1;
        transition: 0.1s;
      }
      &:active{
        scale: 0.9;
        transition: 0.1s;
      }
    }
  }

  &:hover {
    scale: 1.01;
    transition: 0.1s;
    background-color: rgba(196, 196, 196, 0.5);
  }
}