.navigateContainer {
  padding-block: 24px;
  background-color: var(--bg-color);
  width: 100px;
  border-radius: var(--border-radius);
  height: calc(100vh - 141px);
  max-height: 800px;


  .navList {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;

    color: var(--secondary-color);

    li {

      svg {
        color: var(--secondary-color);

        &:hover {
          cursor: pointer;
          color: var(--accent-color);
          transition: 0.2s;
          scale: 1.05;
        }
      }
    }

    .homeWrapper {
      fill-opacity: 0;

      .active {
        fill-opacity: 1;
        fill: var(--accent-color);

        svg {
          color: var(--accent-color);
        }

      }
    }

    .candlesWrapper {
      .active {
        svg {
          color: var(--accent-color);
        }
      }
    }

    .newPersonWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--accent-color);
      color: var(--bg-color);


      svg {
        color: var(--bg-color);
      }

      &:hover {
        cursor: pointer;

        svg {
          color: var(--bg-color);
          scale: 1.1;
          transition: 0.2s;
        }
      }
    }

    .likesWrapper {
      fill-opacity: 0;
      color: var(--secondary-color);

      .active {
        fill-opacity: 1;
        fill: var(--accent-color);

        svg {
          color: var(--accent-color);
        }
      }
    }

    .feelingsWrapper {
      fill-opacity: 0;

      .active {
        svg {
          color: var(--accent-color);
        }
      }
    }

    .plaquesWrapper {

    }

    .contactUsWrapper {

    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

