.headerContainer {
  display: flex;
  position: relative;
  align-items: center;
  padding: 16px;

  .logo {
    display: none;
    height: 65px;
    margin-right: 40px;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  .searcherContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg);
    height: 55px;
    border-radius: var(--border-radius);
    width: 50%;
    gap: 60px;
    padding: 9px 12px 9px 16px;

    .searchInput {
      font-size: var(--font-size-xxxl);
      line-height: var(--line-height-xxl);
      width: 100%;

      &::placeholder {
        font-family: Montserrat, sans-serif;
        opacity: 0.8;
      }
    }

    .searchSettings {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      .svgWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;

        .svg {
          color: var(--color-secondary-gray);
        }

        &:hover {
          .svg {
            cursor: pointer;
            scale: 1.05;
            transition: 0.2s;
          }
        }

        &:active {
          .svg {
            scale: 0.95;
          }
        }
      }

      .search {
        .svg {
        }
      }

      .activeInput {
        .svg {
          color: var(--color-accent);
        }
      }

      .filters {
        position: relative;
        border-radius: 50%;

        &::after {
          content: '';
          position: absolute;
          height: 100%;
          width: 1px;
          background-color: var(--color-secondary-light-gray);
          opacity: 0.3;
          left: -8px;
        }
      }
    }

    @media (max-width: 1024px) {
      border-radius: var(--border-radius-m);
      width: 1000%;
    }
  }

  .userMenu {
    display: none;
    background-color: var(--color-bg);
    height: 55px;
    border-radius: var(--border-radius);
    position: absolute;
    right: 0;

    .language {
      margin-inline: 30px;

      span {
        color: var(--color-secondary-gray);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;


      svg {
        color: var(--color-accent);

        &:hover {
          cursor: pointer;
        }

        &:active {
          scale: 0.95;
        }
      }
    }

    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  @media (min-width: 1024px) {
    padding-block: 24px;
    padding-inline: 0;
  }
}