.marketContainer {
  height: calc(100% - 56px);
  overflow-y: auto;
  .marketHeader {
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .close {

      &:active{
        scale: 0.95;
      }
      &:hover{
        scale: 1.05;
      }
    }
    .textHelper {
      text-align: center;
      font-size: 17px;
      font-weight: 700;
      font-family: Montserrat, sans-serif;
      padding-block: 20px 12px;
      width: 100%;
    }
  }
  .candlesContainer{

    display: grid;
    grid-template-columns: 270px 270px;
    gap: 10px;
    padding: 20px;
  }
}