.marketContainer {
  height: 100%;
  overflow-y: auto;
  background-color: var(--color-bg);

  .marketHeader {
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .close {

      &:active {
        scale: 0.95;
      }

      &:hover {
        scale: 1.05;
      }
    }

    .textHelper {
      text-align: center;
      font-size: 17px;
      font-weight: 700;
      font-family: Montserrat, sans-serif;
      padding-block: 20px 12px;
      width: 100%;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .feelingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-inline: var(--padding-m);

    /*@media (max-width: 740px) {
grid-template-columns: 1fr;
    }*/

   /* @media (min-width: 1024px) {
      grid-template-columns: 1fr;

    }*/
  }
  /*@media (min-width: 1024px) {
    height: 100%;
  }*/
}