.inputContainer{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 24px;
}
.radio{
  margin-top: 16px;
}
.button{
  margin-top: 112px;
}