.navBarContainer {
  width: 100px;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding-block: 44px;
  height: calc(100vh - 133px);
  max-height: 800px;

  .itemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .active {
      li svg {
        color: var(--accent-color);
        fill-opacity: 1;
      }
      .feelingsWrapper {
        svg{
          fill-opacity: 0;
        }
      }
    }

    .iconWrapper  {

      svg {
        fill: var(--accent-color);
        color: var(--secondary-color);
        fill-opacity: 0;

      }
      &:hover svg{
        transition: 0.1s;
        scale: 1.1;
      }

      :hover {
        color: var(--accent-color);
      }
    }
    .plaquesWrapper, .contactUsWrapper, .messengerWrapper{
      svg{
        fill-opacity: 1;
      }
    }


  }

  @media (max-width: 1024px) {
    display: none;
  }
}
