@mixin typography($fontSize, $fontWeight, $lineHeight) {
  margin: 0;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

.largeTitle1 {
  @include typography(var(--font-size-xxxxxl), var(--font-weight-bold), var(--line-height-xxxxl));
  @media (max-width: 1024px) {
    // не определён
  }
}

.largeTitle2 {
  @include typography(var(--font-size-xxxxxl), var(--font-weight-regular), var(--line-height-xxxxxl));
  @media (max-width: 1024px) {
    // не определён
  }
}

.title {
  @include typography(var(--font-size-xxxxl), var(--font-weight-bold), var(--line-height-xxxl));
  @media (max-width: 1024px) {
    // не определён
  }
}
.titleSpecial{
  @include typography(var(--font-size-special), var(--font-weight-regular), var(--line-height-special));
}
.titleSpecialBold{
  @include typography(var(--font-size-special), var(--font-weight-bold), var(--line-height-special));
}

.headline {
  @include typography(var(--font-size-xxl), var(--font-weight-bold), var(--line-height-xl));
  @media (max-width: 1024px) {
    // не определён
  }
}

.body1 {
  @include typography(var(--font-size-xxxl), var(--font-weight-regular), var(--line-height-xl));
}

.body2 {
  @include typography(var(--font-size-xxl), var(--font-weight-regular), var(--line-height-l));
}

.callouts {
  @include typography(var(--font-size-xl), var(--font-weight-regular), var(--line-height-l));
}

.head1 {
  @include typography(var(--font-size-xxxl), var(--font-weight-bold), var(--line-height-xxl));
}

.head {
  @include typography(var(--font-size-l), var(--font-weight-bold), var(--line-height-m));
}

.subhead {
  @include typography(var(--font-size-l), var(--font-weight-regular), var(--line-height-l));
}

.head2 {
  @include typography(var(--font-size-m), var(--font-weight-bold), var(--line-height-m));
}

.footnote {
  @include typography(var(--font-size-m), var(--font-weight-regular), var(--line-height-m));
}

.caption1 {
  @include typography(var(--font-size-s), var(--font-weight-regular), var(--line-height-s));
}

.caption1 {
  @include typography(var(--font-size-xs), var(--font-weight-regular), var(--line-height-xs));
}

.caption1 {
  @include typography(var(--font-size-xxs), var(--font-weight-regular), var(--line-height-xxs));
}



