.burgerButtonWrapper {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 22px;
  height: 21px;
  padding: 0;

  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: '';

    position: absolute;

    width: 22px;
    height: 2px;

    background-color: var(--color-secondary-light-dark);

    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    transform: scale(1);
    width: 22px;
    height: 2px;
    background-color: var(--color-secondary-light-dark);
  }

  &:hover {
    transition: 0.1s;
    scale: 1.05;
  }
}

.active {
  &::before {
  transform: rotate(45deg);
    top: 9.5px
  }
  &::after {
    transform: rotate(-45deg);
    bottom: 9.5px;
  }
  span{
    display: none;
  }
}