.candleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 270px;
  width: 270px;
  max-width: 270px;
  max-height: 270px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-secondary-gray);

  svg{
    color: var(--color-text-gray);
  }

  .coast {
    position: absolute;
    bottom: 11px;
    right: 12px;

    font-weight: 700;
    font-size: 26px;
    line-height: 28.6px;
    color: var(--color-text-gray);
  }

}