.candleContainer {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 270px;
  max-height: 270px;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-secondary-gray);
  overflow: hidden;

  .picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .coast {
    position: absolute;
    bottom: 11px;
    right: 12px;

    font-weight: 700;
    font-size: 26px;
    line-height: 28.6px;
    color: var(--color-text-gray);
  }

  .SelectedIcon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &:active {
    scale: 0.99;
    transition: 0.1s;
  }
}

.active {
  border-color: var(--color-accent);

  .coast {
    color: var(--color-accent);
  }
}