.gridContainer {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 24px;
  position: relative;

  .mainContainer {
    border-radius: var(--border-radius);
    height: calc(100vh - 134px);
    padding-bottom: 0;
    background-color: var(--color-bg);
    overflow: hidden;

  }


  /*@media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 24px;
    .mainContainer {
      border-radius: var(--border-radius);
      height: calc(100vh - 137px);
      padding-bottom: 0;
    }
  }*/
}
.position{
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 20;
}