.createProfileContainer {

  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100%;
  

  .leftBlock {
    padding-left: var(--padding);
    padding-block: var(--padding);


    .linkToBack {
      margin-bottom: 28px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      height: 44px;
      color: var(--color-text-light-blue);

      .arrowBack {
        position: relative;
        padding-right: 8px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          border: solid var(--color-secondary-light-blue);
          border-width: 1px 0 0 1px;
          padding: 3px;
        }
      }
    }

    .title {
      color: var(--color-accent);
    }
  }

  .rightBlock{
    padding-block: var(--padding);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    overflow-y: auto;

    .form{
      padding-top: 84px;
      width: 458px;
    }
  }
}