.blackListContainer {
  width: 458px;
  .content{
    min-height: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contentPlaceholder{
      color: var(--color-secondary-light-blue);
    }
  }
}